<!DOCTYPE html>
<html>
<head>
  <title>Forem</title>
  <%= stylesheet_link_tag    "forem/application" %>
  <%= javascript_include_tag "forem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, message| %>
    <div id='flash_<%= key %>'><%= message %></div>
<% end %>

<%= yield %>

</body>
</html>
